@charset "utf-8";

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #312f2f;
}

h1{
    margin-bottom: 20px;
    background-color: #48489b;
    color: #dfd2d2;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    text-align: center;

}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;

}

#container-botoes{
    margin-bottom: 15px;
}

input[type="button"]{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 5px;
}

#resultado{
    width: 250px;
    margin:10px 0px;
    background-color: #48489b;
    color: white;
    text-align: center;
    padding: 0.4rem;
}

#placar{
    width: 250px;
    text-align: center;
    background-color: #148145;
    color: white;
    padding: 0.4rem;
}